.cuadrado{
    width: 40px;
    height: 1px;
    background: #aaa;
    position: fixed;
    left:10px;
    top:30px;

}

.table {
    width: 100%;
    position: relative;
    top: 30px;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.img {
    vertical-align: middle;
    border-style: none;
    position: relative;
    top: 40px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 25px;
}