

<div class ="row">
    <div >
        <button class="btn btn-success" style="position: relative; bottom: 10px;"(click)="irAregistroRestaurantes()">Añadir restaurante</button>
    </div>
    <div class="col-md-4 p-4" *ngFor= "let restaurante of restaurantes">
        
        <button (click)="Gestion(restaurante)" type="button" class="btn_img">
            <h3 class="text-center">{{restaurante.nombre}}</h3>
            <img [src]="restaurante.imagen" width="300" height="300"> 
        </button>
       
</div>
